DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
ALLOWED_ORIGINS=["http://localhost:3000","http://localhost:8080","http://localhost"]
SECRET_KEY=secret_key
ALGORITHM=HS256
HOURS_SESSION=24